<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>Show</title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <link rel="icon" type="image/png" href="assets/i/favicon.png">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="stylesheet" href="assets/css/amazeui.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <style>
    .am-form .am-tagsinput {
      min-width: 100%;
    }
  </style>
</head>
<body>
  <ul class="am-nav am-nav-pills">
    <li><a href="/">首页</a></li>
    <li><a href="add">添加招领信息</a></li>
  </ul>
  <article class="am-article">
    <div class="am-article-hd">
      <h1 class="am-article-title" align="center"><%=json.title %></h1>
    </div>

    <div class="am-article-bd">
      <p class="am-article-lead"><img src="<%=json.headimgurl %>" style="width: 50px"/>发布人：</a><%=json.nickname %><br>联系方式：<%=json.contact %><br>发布时间：<%=json.createTime %></p>
      <p><%=json.descripthon %></p>
    </div>
  </article>

  <footer data-am-widget="footer"
          class="am-footer am-footer-default"
           data-am-footer="{  }">
    <div class="am-footer-miscs ">
        <p>由 罗霄 提供技术支持</p>
        <p>CopyRight©2016  PKUSS Inc.</p>
        <p>京ICP备2147483647</p>
    </div>
  </footer>

<!--在这里编写你的代码-->
<!--[if (gte IE 9)|!(IE)]><!-->
<link rel="stylesheet" href="assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="assets/css/amazeui.tagsinput.css"/>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/amazeui.tagsinput.min.js"></script>
<script type="text/javascript">
</script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
</body>

</html>
